/* Members admin screens. */
.aa-members-list {
	#posts-filter,
	.subsubsub,
	.page-title-action,
	#screen-meta-links,
	.wp-header-end ~ .search-box {
		display: none;
	}

	.dataviews-view-table tr .dataviews-item-actions .components-button {
		opacity: 1;
	}
}

.aa-members-edit {
	#post,
	#poststuff {
		display: none;
	}
}

#aa-members-app {
	margin-top: 1em;
	max-width: none;
}
