.wp-block-axell-form-group {
  margin-block: 1em;
}

.wp-block-axell-form-group {
  &.is-width-25 { width: 25%; }
  &.is-width-33 { width: 33.333%; }
  &.is-width-50 { width: 50%; }
  &.is-width-66 { width: 66.666%; }
  &.is-width-75 { width: 75%; }
  &.is-width-100 { width: 100%; }
}
